# Python и Django специфичные файлы
venv/
env/
*.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyo
*.pyc
.DS_Store
.idea

# Конфигурационные файлы и секреты
*.env
*.ini
*.log
*.conf
*.config
*.cfg
*.secret

# Файлы баз данных и медиа
*.sqlite3
*.db
*.db.sqlite3
media/

# Локализация и переводы
locale/
*.mo
*.pot

# Зависимости и сгенерированные файлы
*.egg-info/
*.egg
dist/
build/

# Кеш и временные файлы Django
*.cache/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Ваш собственный файл с секретами
secrets.json
secrets.yaml
