{% extends 'catalog/base.html' %} <!-- Предполагается, что у вас есть базовый шаблон base.html -->

{% block content %} <!-- Открываем блок для контента страницы -->
<div class="container">
    <h1 class="display-4">
        {% if object %}
                Edit Blog Post
            {% else %}
                Create Blog Post
            {% endif %}
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="slug">Slug:</label>
            <input type="text" class="form-control" id="slug" name="slug" required>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" id="content" name="content" required></textarea>
        </div>
        <div class="form-group">
            <label for="preview">Preview (Image):</label>
            <input type="file" class="form-control-file" id="preview" name="preview" required>
        </div>
        <button type="submit" class="btn btn-primary">
            {% if object %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
</div>
{% endblock %} <!-- Закрываем блок для контента страницы -->
