{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h1 class="display-4">Blog Posts</h1>
            <a href="{% url 'blogpost:blog_create' %}" class="btn btn-primary float-right">Добавить</a>
        </div>
    </div>
    <div class="row">
        {% for post in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ post.preview.url }}" alt="{{ post.title }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <a href="{% url 'blogpost:blog_view' post.pk %}" class="btn btn-primary">View</a>
                    <a href="{% url 'blogpost:blog_edit' post.pk %}" class="btn btn-secondary">Edit</a>
                    <a href="{% url 'blogpost:blog_delete' post.pk %}" class="btn btn-danger">Delete</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}